@font-face {
    font-family: SF-Pro-Display;
    src: url("../assets/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: SF-Pro-Display;
    font-weight: 300;
    src: url("../assets/SF-Pro-Display-Light.otf") format("opentype");
}

@font-face {
    font-family: SF-Pro-Display;
    font-weight: 400;
    src: url("../assets/SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
    font-family: SF-Pro-Display;
    font-weight: bold;
    src: url("../assets/SF-Pro-Display-Bold.otf") format("opentype");
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: SF-Pro-Display;
    font-weight: 400;
    font-style: normal;
    color: #323232;
}

.content {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 22px;
    background-color: rgba($color: #fff, $alpha: 0.5);
    background: rgba(248, 248, 248, 0.65);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15), 0 4px 28px 0 rgba(0, 0, 0, 0.28);
    padding: 0 22px;
    display: flex;
    align-content: center;
    backdrop-filter: blur(30px);

    .apple {
        padding-top: 1px;
        font-size: 1.1rem;
        margin-right: 20px;
    }

    span {
        text-align: center;
        font-size: 0.9rem;
        padding-top: 3px;
    }

    .app {
        font-weight: 600;
    }
}

.footer {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: -1px;
    z-index: 1000;

    .footer-bar {
        backdrop-filter: blur(30px);
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        height: 68px;
        border-radius: 8px 8px 0 0;
        background-color: rgba($color: #fff, $alpha: 0.4);
        border: 1px solid rgba($color: #000000, $alpha: 0.22);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15), 0 -4px 28px 0 rgba(0, 0, 0, 0.28);
        padding: 0px 5px 0;

        .application {
            margin: 0 3px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            &:hover {
                .bubble {
                    opacity: 1;
                }
            }
        }

        .icon {
            height: 55px;

            img {
                max-height: 100%;
            }
        }

        .bubble {
            opacity: 0;
            position: fixed;
            background-color: rgba($color: #fff, $alpha: 0.7);
            margin: 0 auto;
            border-radius: 4px;
            transform: translate(-18px, -65px);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15), 0 0px 5px 0 rgba(0, 0, 0, 0.28);

            p {
                text-align: center;
                color: #444444;
                padding: 5px 0 2px;
                width: 90px;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top-color: rgba($color: #fff, $alpha: 0.7);
                border-bottom: 0;
                margin-left: -8px;
                margin-bottom: -8px;
            }
        }
    }
}

.sticker {
    background-color: #fdf3a7;
    position: fixed;
    top: 50px;
    left: 30px;
    width: 250px;
    height: 220px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15), 0 4px 28px 0 rgba(0, 0, 0, 0.28);
    display: flex;
    flex-direction: column;

    &-bar {
        height: 18px;
        background-color: #fbe961;
        display: flex;
    }

    textarea {
        margin: 10px;
        height: 100%;
        border: none;
        background-color: transparent;

        &:focus {
            outline: 0;
        }
    }
}

.final-result {
	z-index: 3000;
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;

	.container {
		margin: auto;
		width: 50%;
		
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			text-align: center;
		}
		.data {
			font-size: 16px;
			margin: 10px 0 0 0;
		}
		
		.btnRestart {
			font-size: 20px;
			background-color: rgba(0, 122, 255, 0.6);
			padding: 5px 40px;
			color: white;
			margin-top: 30px;
			box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15), 0 4px 28px 0 rgba(0, 0, 0, 0.28);
			cursor: pointer;
			border-radius: 8px;
		}
	}
}

.result-show {
	opacity: 1;
	background-color: rgba($color: #ffffff, $alpha: .70);
    backdrop-filter: blur(20px);
}

.window {
    background-color: rgba($color: #ffffff, $alpha: 0.68);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15), 0 4px 28px 0 rgba(0, 0, 0, 0.28);
    position: fixed;
    border-radius: 8px;
    border: 0.5px solid rgba($color: #000000, $alpha: 0.18);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .dots {
        z-index: 10;
        padding: 12px 0 0 10px;
        display: flex;
        position: fixed;
        cursor: default;

        &:hover {
            .dot img {
                opacity: 1;
            }
        }

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 0.5px solid rgba($color: #000000, $alpha: 0.05);
            margin-right: 7px;
            display: flex;
            justify-content: center;
            align-content: center;
            cursor: pointer;

            img {
                opacity: 0;
                height: 12px;
                width: 12px;
            }
        }

        .dot1 {
            background-color: #ec6a5f;
        }

        .dot2 {
            background-color: #f6be4f;
        }

        .dot3 {
            background-color: #62c555;
        }
    }

    &-content {
        margin-top: 20px;

        // border: 1px solid;
        height: 100%;
        width: 100%;
    }
}

.task {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 600px;
    top: 100px;
    left: 100px;

    &-left {
        width: 30%;
        height: 100%;
        padding: 60px 20px;
        cursor: default;

        .task-tab {
            padding: 20px 10px;
            font-weight: 400;
            color: rgba($color: #000000, $alpha: 0.7);
            margin-bottom: 10px;
            cursor: pointer;
            border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.48);
        }

        .active {
            color: rgb(0, 122, 255);
            font-weight: 600;
        }
    }

    &-right {
        padding: 60px 20px;
        cursor: default;
        width: 70%;
        height: 100%;
        background-color: white;
        border: 0.5px solid rgba($color: #000000, $alpha: 0.18);

        .time,
        .action,
        .progress,
        .money {
            font-size: 2rem;
            margin-bottom: 20px;
            color: rgba($color: #000000, $alpha: 0.7);
        }

        .progress-bar {
            margin-top: 10px;
            width: 100%;
            height: 1rem;
            border-radius: 20px;
            background-color: rgba($color: #000000, $alpha: 0.1);

            &-complete {
                background-color: rgb(52, 199, 89);
                height: 1rem;
                border-radius: 20px;
            }
        }

        .datagrid {
            display: flex;
            flex-wrap: wrap;

            .data {
                background-color: rgba($color: #000000, $alpha: 0.1);
                padding: 10px;
                margin: 0 20px 20px 0;
                border-radius: 10px;
                width: 40%;
            }
        }
    }
}

.draggable {
    cursor: pointer;
}

.n {
    display: none;
}

.nextday {
    z-index: 2000;
    width: 400px;
    height: 190px;
    top: 200px;
    right: 500px;
    background-image: url(../assets/Shutdown.png);
    padding: 40px 20px 20px;

    &-content {
        position: fixed;
        left: 95px;
        right: 40px;
        bottom: 20px;
        top: 40px;
        display: flex;
        flex-direction: column;

        p {
            margin-bottom: 5px;
        }

        .title {
            font-weight: 600;
        }

        .btnNextDay {
			cursor: pointer;
            padding: 3px 10px 3.5px;
            background-image: url(../assets/buttonNextday.png);
            background-size: cover;
            color: white;
            font-weight: 300;
            font-size: 16px;
            border-radius: 5px;
            text-align: center;
            width: 180px;
            position: fixed;
            bottom: 20px;
            right: 40px;
        }
    }
}

.figma {
    width: 992px;
    height: 654.34px;
    top: 50px;
    right: 30px;
    background-image: url(../assets/Figma.png);

    &-content {
        position: fixed;
        left: 275px;
        right: 255px;
        bottom: 0px;
        top: 107px;
        background-color: rgba($color: #fff, $alpha: 0.7);
        padding: 30px;

        .title {
            padding: 10px;
            font-size: 1.5rem;
        }

        cursor: default;
    }
}

.mail {
    .top {
        position: fixed;
        background-color: rgba($color: #000000, $alpha: 0.1);
        border-bottom: 0.5px solid rgba($color: #000, $alpha: 0.4);
        height: 80px;
        width: 100%;
        cursor: default;

        .title {
            width: 100%;
            text-align: center;
            padding-top: 8px;
            font-size: 14px;
            color: rgba($color: #000000, $alpha: 0.62);
        }
    }

    width: 700px;
    height: 550px;
    top: 200px;
    left: 130px;

    &-content {
        padding-top: 80px;
        width: 100%;
        height: 100%;
        display: flex;

        .mail-left {
            width: 30%;
            background-color: white;
            cursor: default;

            .mail-from {
                cursor: pointer;
                padding: 10px 20px 10px 10px;
            }
        }

        .mail-right {
            overflow-y: scroll;
            cursor: default;
            width: 70%;
            background-color: rgba($color: #000000, $alpha: 0.1);
            padding: 10px;

            .mail-text {
                border-radius: 5px;
                background-color: white;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15), 0 4px 18px 0 rgba(0, 0, 0, 0.22);
                padding: 20px;

                &-content {
                    padding: 10px 20px 10px 10px;
                    -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none;

                    .status {
                        margin: 10px 0;
                        padding: 5px 10px;
                        background-color: rgba($color: #000000, $alpha: 0.12);
                        border-radius: 8px;
                    }
                }
            }
        }

        .mail-from {
            max-height: 100px;
            padding: 10px 10px 10px 10px;
            border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.48);
            width: 100%;

            p {
                color: rgba($color: #000000, $alpha: 0.6);
            }

            .whofrom {
                font-weight: bold;
                color: rgba($color: #000000, $alpha: 0.9);
            }

            .subject {
                color: rgba($color: #000000, $alpha: 0.9);
            }

            .mail-from-head {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

/* total width */
.scrollbar::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
}

.scrollbar::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
    display: none;
}

.options {
    padding: 10px 20px 10px 10px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    .status {
        margin: 10px 0;
        padding: 5px 10px;
        background-color: rgba($color: #000000, $alpha: 0.12);
        border-radius: 8px;
    }
}

.option {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid rgb(0, 122, 255);
    background-color: rgba(0, 122, 255, 0.1);
    color: rgb(0, 122, 255);

    &-result {
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        .bad {
            color: rgb(255, 59, 48);
        }

        .good {
            color: rgb(52, 199, 89);
        }

        .random {
            color: rgb(255, 149, 10);
        }
    }

    .requirement {
        color: rgba($color: #000000, $alpha: 0.5);
    }

    &:hover {
        border: 1px solid rgba(0, 122, 255, 0.6);
        background-color: rgba(0, 122, 255, 0.06);
    }
}
