<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <div class="content" id="app">
        <div class="header"><span class="apple"></span><span class="app">LMC 6313 UX Story</span></div>
        <div class="footer">
            <div class="footer-bar">
                <div class="application">

                    <div class="bubble">
                        <p>Dashboard</p>
                    </div>
                    <div class="icon icon-dash">
                        <img src="assets/Icon-Dash.png" alt="">
                    </div>
                </div>
                <div class="application">

                    <div class="bubble">
                        <p>Mail</p>
                    </div>
                    <div class="icon icon-mail">
                        <img src="assets/Icon-Email.png" alt="">
                    </div>
                </div>
                <div class="application">

                    <div class="bubble">
                        <p>Figma</p>
                    </div>
                    <div class="icon icon-figma">
                        <img src="assets/Icon-Figma.png" alt="">
                    </div>
                </div>
                <div class="application">

                    <div class="bubble">
                        <p>Illustrator</p>
                    </div>
                    <div class="icon">
                        <img src="assets/Icon-AI.png" alt="">
                    </div>
                </div>
                <div class="application">

                    <div class="bubble">
                        <p>Safari</p>
                    </div>
                    <div class="icon icon-safari">
                        <img src="assets/Icon-Safari.png" alt="">
                    </div>
                </div>
                <div class="application">
                    <div class="bubble">
                        <p>Books</p>
                    </div>
                    <div class="icon icon-books">
                        <img src="assets/Icon-Books.png" alt="">
                    </div>
                </div>
                <div class="application">
                    <div class="bubble">
                        <p>VS Code</p>
                    </div>
                    <div class="icon icon-vs" v-on:click="(time=3)&&(action=5)&&(progress=0)&&(client=50)&&(developer=50)&&(visual=0)&&(innovation=0)&&(robustness=0)&&(complexity=0)">
                        <img src="assets/Icon-vs.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="sticker draggable">
            <div class="sticker-bar">
            </div>
            <textarea name="" id="" cols="30" rows="10">
Hello, welcome to the company!

During this {{time}}-week internship, you will work as a UX Designer for the team and work closely with the developers and clients.

Your performance will decide whether your internship can end with a full-time position. Good luck!
            </textarea>
        </div>

        <div class="n window draggable a-window">
            <div class="dots">
                <div class="dot dot1">
                    <img src="assets/dot-cross.png" alt="">
                </div>
                <div class="dot dot2">
                    <img src="assets/dot-bar.png" alt="">

                </div>
                <div class="dot dot3">
                    <img src="assets/dot-expand.png" alt="">

                </div>

            </div>
            <div class="window-content">
                <!-- <iframe style="border: none;" width="799" height="555" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fa2TKQBrfnlO8VKILjAQSRm%2FiOS-11-GUI-for-iPhone-X-Design-Files%3Fnode-id%3D0%253A1" allowfullscreen></iframe> -->
            </div>
        </div>

        <div class="task n  window draggable a-window">
            <div class="dots">
                <div class="dot dot1">
                    <img src="assets/dot-cross.png" alt="">
                </div>
                <div class="dot dot2">
                    <img src="assets/dot-bar.png" alt="">
                </div>
                <div class="dot dot3">
                    <img src="assets/dot-expand.png" alt="">
                </div>
            </div>

            <div class="task-left">
                <div class="task-tab task-progress active">
                    Progress
                </div>
                <div class="task-tab task-profile">
                    Profile
                </div>
                <div class="task-tab task-history">
                    History Projects
                </div>
            </div>

            <div class="task-right">
                <div class="task-page page-1">
                    <div class="progress">
                        Current Progress: {{(progress<=0)?0:(progress>=100?100:progress)}}%
                        <div class="progress-bar">
                            <div class="progress-bar-complete"
                                v-bind:style="{ width: (progress<=0)?0:(progress>=100?100:progress) +'%' }">
                            </div>
                        </div>
                    </div>
                    <div class="time">
                        You have {{time}} week{{(time<=1)?"":"s"}} left.
                    </div>
                    <div class="action">
                        You have {{action}} action{{(action<=1)?"":"s"}} left this week.
                    </div>
                    <div class="datagrid">
                        <div class="data">
                            Client satisfaction <br>
                            <span class="number">{{client}}%</span>
                        </div>
                        <div class="data">
                            Developer satisfaction <br>
                            <span class="number">{{developer}}%</span>
                        </div>
                        <div class="data">
                            Visual<br>
                            <span class="number">{{visual}}</span>
                        </div>
                        <div class="data">
                            Robustness<br>
                            <span class="number">{{robustness}}</span>
                        </div>
                        <div class="data">
                            Innovation<br>
                            <span class="number">{{innovation}}</span>
                        </div>
                        <div class="data">
                            Complexity<br>
                            <span class="number">{{complexity}}</span>
                        </div>
                    </div>
                </div>
                <div class="task-page page-2 n">
                    <div class="money">
                        You have ${{money}}.
                    </div>
                    <div class="money">
                        Abilities:
                    </div>
                    <div class="datagrid">
                        <div class="data">
                            Knowledge of Principles
                            <span class="number">{{knowledge}}</span>
                        </div>
                        <div class="data">
                            Research and Analytical
                            <span class="number">{{research}}</span>
                        </div>
                        <div class="data">
                            Creativity
                            <span class="number">{{creativity}}</span>
                        </div>
                        <div class="data">
                            Graphic Skills
                            <span class="number">{{graphic}}</span>
                        </div>
                        <div class="data">
                            Communication
                            <span class="number">{{communication}}</span>
                        </div>
                        <div class="data">
                            Coding
                            <span class="number">{{coding}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mail n window draggable a-window">
            <div class="dots">
                <div class="dot dot1">
                    <img src="assets/dot-cross.png" alt="">
                </div>
                <div class="dot dot2">
                    <img src="assets/dot-bar.png" alt="">
                </div>
                <div class="dot dot3">
                    <img src="assets/dot-expand.png" alt="">
                </div>
            </div>
            <div class="top">
                <p class="title">Mail</p>
            </div>
            <div class="mail-content">
                <div class="mail-left">
                    <div class="mail-from mail-1">
                        <div class="mail-from-head">
                            <p class="whofrom">Developer</p>
                            <p class="mailtime">Week {{10-time}} Day {{5-action}}</p>
                        </div>
                        <p class="subject">Request of changing...</p>
                        <p> Hi there, I am writing...</p>
                    </div>
                </div>
                <div class="mail-right scrollbar">
                    <div class="mail-text mail-1 overflow">
                        <div class="mail-from">
                            <div class="mail-from-head">
                                <p class="whofrom">Developer</p>
                                <p class="mailtime">Week {{10-time}} Day {{5-action}}</p>
                            </div>
                            <p class="subject">Request of changing the animation on landing page</p>
                            <p>To: You</p>
                            <p>From: developer@6313.com</p>
                        </div>
                        <div class="mail-text-content">
                            <p>Hi there,</p>
                            <br>
                            <p>The animation on the prototype is very hard to implement. I think we should find a
                                cheaper substitution for it. What do you think?</p>
                            <br>
                            <p>Best,</p>
                            <p>Developer</p>
                        </div>
                        <div class="options">
                            <p class="status">
                                {{canrespond>=1?"You have not responded to this e-mail yet.":"You have responded to this e-mail."}}
                            </p>
                            <div class="option "
                                v-on:click="(canrespond>=1)&&(progress-=5)&&(developer+=10)&&(visual-=5)&&(canrespond-=1)">
                                Okay...
                                <p class="option-result">
                                    <span class="bad">
                                        -5% Overall Progress
                                    </span>
                                    <span class="bad">
                                        -5 Visual
                                    </span>
                                    <span class="good">
                                        +10% Developer Satisfaction
                                    </span>
                                </p>
                            </div>
                            <div class="option "
                                v-on:click="(canrespond>=1)&&(developer-=8)&&(visual+=Math.floor(Math.random() * (10 + 5 + 1)) - 5)&&(canrespond-=1)">
                                Nope. We need that animation.
                                <p class="option-result">
                                    <span class="random">
                                        -5 ~ +10 Visual
                                    </span>
                                    <span class="bad">
                                        -8% Developer Satisfaction
                                    </span>
                                </p>
                            </div>

                            <div class="option "
                                v-on:click="(canrespond>=1)&&(coding>=20)&&(action>=2)&&(action-=2)&&(developer+=20)&&(visual+=10)&&(canrespond-=1)">
                                Guess what, I can
                                write that for you.
                                <p class="requirement">Require coding >= 20 (Currently {{coding}})</p>
                                <p class="option-result">
                                    <span class="good">
                                        +20% Developer Satisfaction
                                    </span>
                                    <span class="good">
                                        +10 Visual
                                    </span>
                                    <span class="bad">
                                        -2 Action points
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="figma n window draggable a-window">
            <div class="dots">
                <div class="dot dot1">
                    <img src="assets/dot-cross.png" alt="">
                </div>
                <div class="dot dot2">
                    <img src="assets/dot-bar.png" alt="">
                </div>
                <div class="dot dot3">
                    <img src="assets/dot-expand.png" alt="">
                </div>
            </div>

            <div class="figma-content">
                <p class="title">
                    What do you want to work on today?
                </p>

                <div class="options">

                    <div class="option "
                        v-on:click="(action>0)&&(progress+=6)&&(complexity+=10)&&(visual+=1)&&(action-=1)">
                        Wireframing
                        <p class="option-result">
                            <span class="good">
                                +6% Overall Progress
                            </span>
                            <span class="good">
                                +10 Complexcity
                            </span>
                            <span class="good">
                                +1 Visual
                            </span>
                        </p>
                    </div>
                    <div class="option " v-on:click="(action>0)&&(progress+=3)&&(visual+=10)&&(action-=1)">
                        Design System
                        <p class="option-result">
                            <span class="good">
                                +3% Overall Progress
                            </span>
                            <span class="good">
                                +10 Visual
                            </span>
                        </p>
                    </div>

                    <div class="option "
                        v-on:click="(action>0)&&(progress+=8)&&(visual+=5)&&(robustness+=8)&&(action-=1)">
                        Prototyping
                        <p class="option-result">
                            <span class="good">
                                +8% Overall Progress
                            </span>
                            <span class="good">
                                +5 Visual
                            </span>
                            <span class="good">
                                +8 Robustness
                            </span>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        
        <div class="final-result n result-show">
            <div class="container">
                <h1>Final Result</h1>
                <br>
                <br>
                <br>

                <h2 v-if="progress<100">
                    Hi there,
                    <br>
                    <br>
                    Based on your performance, we decided not to give you a return offer. We wish you all the best in your job searching process.
                    <br>
                    <br>
                    Best, <br>
                    Hiring Team
                </h2>
                <h2 v-else>

                    Hi there,
                    <br>
                    <br>
                    Congratulations! We are impressed by your performance and effort, and our company is pleased to offer you the full-time position of UX Designer! 
                    <br><br>
                    Best, <br>
                    Hiring Team
                </h2>


                <div class="data">
                    Project Progress:
                    <span class="number">{{progress}}%</span>
                    <span v-if="progress<100" style="color:red">Incomplete!</span>
                    <span v-else style="color:green">Completed!</span>
                </div>
                <div class="data">
                    Client satisfaction:
                    <span class="number">{{client}}%</span>
                </div>
                <div class="data">
                    Developer satisfaction:
                    <span class="number">{{developer}}%</span>
                </div>
                <div class="data">
                    Visual:
                    <span class="number">{{visual}}</span>
                </div>
                <div class="data">
                    Robustness:
                    <span class="number">{{robustness}}</span>
                </div>
                <div class="data">
                    Innovation:
                    <span class="number">{{innovation}}</span>
                </div>
                <div class="data">
                    Complexity:
                    <span class="number">{{complexity}}</span>
                </div>

                <div class="data">
                    <b>
                        Overall: 
                    <span class="number">{{(visual+robustness+innovation+complexity)/4}}</span>
                    </b>
                </div>


                <span class="btnRestart" v-on:click="(time=3)&&(action=5)&&(client=50)&&(developer=50)&&(visual=0)&&(innovation=0)&&(robustness=0)&&(complexity=0)&&(progress=0)">
                    Replay
                </span>
            </div>

        </div> 


        <div class="nextday window draggable" v-if="action==0">
            <div class="nextday-content">
                <p class="title">You ran out of action points today.</p>
                <p>You have {{time-1}} week{{time==1?"":"s"}} left. {{(time==1)?"Time to submit your work!":"Keep going!"}}</p>

                <div v-if="time!=1" class="btnNextDay" v-on:click="(action=5)&&(time-=1)">
                    Proceed to the next day
                </div>
                <div v-else class="btnNextDay btnSubmit" >
                    Submit your work!
                </div>

            </div>
        </div>

    </div>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                progress: 0,
                time: 3,
                action: 5,
                client: 50,
                developer: 50,
                visual: 0,
                innovation: 0,
                robustness: 0,
                complexity: 0,
                knowledge: 0,
                research: 0,
                creativity: 0,
                graphic: 0,
                communication: 0,
                coding: 20,
                money: 0,
                canrespond: 1
            },
            methods: {
                getTime: function () {
                    console.log(this.time);
                    return this.time
                },
                addTime: function (num) {
                    this.time += num;
                    console.log(this.time);
                },
                getAction: function () {
                    console.log(this.action);
                    return this.action
                },
                addAction: function (num) {
                    this.action += num;
                    console.log(this.action);
                },
                getAction: function () {
                    console.log(this.action);
                    return this.action
                },
                addAction: function (num) {
                    this.action += num;
                    console.log(this.action);
                },

                getclient: function () {
                    console.log(this.client);
                    return this.client
                },
                addclient: function (num) {
                    this.client += num;
                    console.log(this.client);
                },

                getdeveloper: function () {
                    console.log(this.developer);
                    return this.developer
                },
                adddeveloper: function (num) {
                    this.developer += num;
                    console.log(this.developer);
                },
                getvisual: function () {
                    console.log(this.visual);
                    return this.visual
                },
                addvisual: function (num) {
                    this.visual += num;
                    console.log(this.visual);
                },
                getinnovation: function () {
                    console.log(this.innovation);
                    return this.innovation
                },
                addinnovation: function (num) {
                    this.innovation += num;
                    console.log(this.innovation);
                },

                getrobustness: function () {
                    console.log(this.robustness);
                    return this.robustness
                },
                addrobustness: function (num) {
                    this.robustness += num;
                    console.log(this.robustness);
                },

                getcomplexity: function () {
                    console.log(this.complexity);
                    return this.complexity
                },
                addcomplexity: function (num) {
                    this.complexity += num;
                    console.log(this.complexity);
                },
                getknowledge: function () {
                    console.log(this.knowledge);
                    return this.knowledge
                },
                addknowledge: function (num) {
                    this.knowledge += num;
                    console.log(this.knowledge);
                },

                getresearch: function () {
                    console.log(this.research);
                    return this.research
                },
                addresearch: function (num) {
                    this.research += num;
                    console.log(this.research);
                },

                getcreativity: function () {
                    console.log(this.creativity);
                    return this.creativity
                },
                addcreativity: function (num) {
                    this.creativity += num;
                    console.log(this.creativity);
                },
                getgraphic: function () {
                    console.log(this.graphic);
                    return this.graphic
                },
                addgraphic: function (num) {
                    this.graphic += num;
                    console.log(this.graphic);
                },
                getcommunication: function () {
                    console.log(this.communication);
                    return this.communication
                },
                addcommunication: function (num) {
                    this.communication += num;
                    console.log(this.communication);
                },

                getcoding: function () {
                    console.log(this.coding);
                    return this.coding
                },
                addcoding: function (num) {
                    this.coding += num;
                    console.log(this.coding);
                },

                getmoney: function () {
                    console.log(this.money);
                    return this.money
                },
                addmoney: function (num) {
                    this.money += num;
                    console.log(this.money);
                },

            },
        })
    </script>
</body>

</html>